@mixin heading {
    text-align: center;
    font-size: 25px;
}
@mixin column {
    float: left;
    width: 50%;
    text-align: center;
}
@mixin border {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}