@import "../styles/mixins.scss";

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    background-color: white;
}

* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

/*HEADER*/

.Nav {
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    position: absolute;
    z-index: 1000;
}

.NavLogo {
    position: absolute;
    img {
        width: 70px;
        height: auto;
    }
}

.NavMenu {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    width: 100%;
    margin: 0;
    nav {
        padding-top: 20px;
        display: flex;
        a {
            font-size: 20px;
            text-decoration: none;
        }
    }
}

.NavLink {
    color: #ffffff;
    display: inline-block;
    vertical-align: top;
    margin: 0 12px;
    position: relative;
    transition: color 0.2s linear;
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -ms-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;

    &::after {
        content: "";
        width: 100%;
        height: 3px;
        top: 100%;
        display: block;
        opacity: 0;
        background-color: #ffffff;
        transition: opacity 0.1s linear;
        -webkit-transition: opacity 0.1s linear;
        -moz-transition: opacity 0.1s linear;
        -ms-transition: opacity 0.1s linear;
        -o-transition: opacity 0.1s linear;
    }
    &:hover::after {
        opacity: 1;
    }
}

/*TITLE AND INTRO*/

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    background: linear-gradient(117.7deg, #6200ea 10.89%, rgba(255, 255, 255, 0) 59.28%), #4527a0;
    border-radius: 0px 0px 30px 30px;
    -webkit-border-radius: 0px 0px 30px 30px;
    -moz-border-radius: 0px 0px 30px 30px;
    -ms-border-radius: 0px 0px 30px 30px;
    -o-border-radius: 0px 0px 30px 30px;
}

.Title {
    color: #ffffff;
    h5 {
        margin: 0;
        font-size: 25px;
        text-align: center;
    }
}

/*INTRO BUTTON */

.BtnDownload {
    margin: 40px 0 0 0;
    text-align: center;
}
.Download {
    width: 150px;
    background: none;
    height: 50px;
    border: 2px solid #ffffff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    a {
        font-size: 20px;
        color: #ffffff;
        text-decoration: none;
    }
}

/*LIST OF AMAZING FEATURES */

.ListOfAmazingFeatures {
    height: 650px;
}

.ListHeading {
    @include heading();
}
.ListColumn {
    @include column();
    padding: 15px;
    img {
        width: 150px;
        height: 150px;
    }
    h5 {
        margin: 0;
        font-size: 20px;
    }
    p {
        margin: 1px;
    }
}


/*OUR TEAM*/

.OurTeam {
    height: 400px;
    background: linear-gradient(117.7deg, #6200ea 10.89%, rgba(255, 255, 255, 0) 59.28%), #4527a0;
}

.OurTeamHeading {
    @include heading();
    color: #ffffff;
}

.OurTeamColumn {
    @include column();
    padding: 15px;
    color: #ffffff;
    img {
        width: 170px;
        height: 170px;
    }
    h5 {
        margin: 0;
        font-size: 20px;
    }
    p {
        margin: 1px;
    }
}

.OurTeamContact {
    img {
        padding: 5px;
        width: 50px;
        height: 50px;
    }
}

/*PRODUCTS*/

.Products {
    height: 1100px;
}

.ProductsHeading {
    @include heading();
}

.ProductsColumn {
    float: left;
    width: 50%;
    text-align: center;
}

.Game {
    margin: 0;
    padding: 0;
    height: 330px;
    border-radius: 20px;
    border: 2px solid #000;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.ProductsImage {
    img {
        width: 200px;
        height: 200px;
        border: none;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
}
.ProductsInfo {
    text-align: left;
    p {
        font-size: 17px;

        span {
            font-weight: bold;
        }
    }
    button {
        background: linear-gradient(to left, #fc0102 -35.9%, #4a32a7 122.17%);
        width: 130px;
        height: 40px;
        border: none;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        background-size: 200%;

        &:hover {
            background-position: right;
        }
        a {
            text-decoration: none;
            color: #ffffff;
            font-size: 17px;
            font-weight: 400;
        }
    }
}

/*CONTACT US*/

.ContactUS {
    height: 800px;
    background: linear-gradient(117.7deg, #6200ea 10.89%, rgba(255, 255, 255, 0) 59.28%), #4527a0;
}

.ContactUSHeading {
    @include heading();
    color: #ffffff;
}

#FullNameContactUs,
#EmailContactUs,
select,
textarea {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 10px;
    border: 3px solid #4527a0;
    border-radius: 20px;
    outline: 0;
    outline-offset: 0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#BtnSubmitContactUS {
    background-color: #4caf50;
    color: white;
    padding: 12px 30px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    &:hover {
        background-color: #45a049;
    }
}

.ContactUSColumn {
    padding: 10px;
    background-color: #ffffff;
    border-radius: 20px;
    margin: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px 20px 20px;
}

.row {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

.personalData {
    display: flex;
    justify-content: center;
    p {
        margin-left: 20px;
    }
}
#personal {
    margin-top: 5px;
}

/*USEFUL LINK*/

.UsefulLink {
    height: 300px;
}

.UsefulLinkHeading {
    @include heading();
}

.UsefulLinkImage {
    text-align: center;
    float: left;
    width: 50%;
    img {
        width: 100px;
        height: 100px;
        &:hover {
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
            transition: 0.8s;
            -webkit-transition: 0.8s;
            -moz-transition: 0.8s;
            -ms-transition: 0.8s;
            -o-transition: 0.8s;
        }
    }
}

/*FOOTER*/

.FooterInfo {
    display: flex;
    justify-content: center;
    background-color: #000000;
    height: 190px;
}

.FooterDescription {
    text-align: center;
    h5 {
        color: #ffffff;
        font-size: 1rem;
    }
    a {
        color: #4527a0;
        text-decoration: none;
        margin-left: 20px;
        margin-right: 20px;
    }
}

/*MOBILE VERSION*/

@media only screen and (min-width: 320px) and (max-width: 450px) {
    .NavLogo {
        img {
            width: 50px;
        }
    }
    .Game.one {
        height: 350px;
    }
    .Game.two {
        height: 420px;
    }
    .Game.three {
        height: 200px;
    }

    .ListHeading {
        h1 {
            font-size: 25px;
        }
    }
    .OurTeamHeading {
        h1 {
            font-size: 25px;
        }
    }
    .Products {
        height: 100%;
        h1 {
            font-size: 25px;
        }
    }
    .ContactUSHeading {
        h1 {
            font-size: 25px;
        }
    }

    .ListColumn {
        img {
            width: 100px;
            height: 100px;
        }
        h5 {
            margin: 0;
            font-size: 16px;
        }
        p {
            font-size: 14px;
            margin: 1px;
        }
    }
    .OurTeamColumn {
        img {
            width: 120px;
            height: 120px;
        }
        h5 {
            margin: 0;
            font-size: 15px;
        }
        p {
            font-size: 13px;
            margin: 1px;
        }
    }
    .OurTeamContact {
        img {
            padding: 5px;
            width: 40px;
            height: 40px;
        }
    }
    .ProductsImage {
        img {
            width: 140px;
            height: 140px;
        }
    }
    .ProductsInfo {
        text-align: left;
        p {
            font-size: 15px;

            span {
                font-weight: bold;
            }
        }
        button {
            width: 100px;
            height: 30px;
            a {
                font-size: 14px;
            }
        }
    }

    /*MENU BUTTON*/

    .NavMenu {
        position: fixed;
        right: 0;
        top: 0;
        width: 50%;
        height: 100vh;
        display: flex;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.9);
        justify-content: center;
        flex-flow: column;
        padding: 0;
        transition: 0.5s;
        transform: translateX(100%);
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        nav {
            display: flex;
            align-items: center;
            flex-direction: column;
            a {
                font-size: 20px;
                padding: 20px;
            }
        }
        .menuBtn {
            display: block;
            width: 40px;
            height: 40px;
            background: linear-gradient(180deg, #fc0102 0%, #ffc400 100%);
            border-radius: 50%;
            position: absolute;
            padding: 0;
            top: 20px;
            left: -55px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            transition: 0.8s;
            -webkit-transition: 0.8s;
            -moz-transition: 0.8s;
            -ms-transition: 0.8s;
            -o-transition: 0.8s;

            span {
                position: absolute;
                top: 50%;
                margin-top: -1px;
                left: 50%;
                margin-left: -8px;
                width: 16px;
                height: 2px;
                background-color: #ffffff;
                &::before {
                    position: absolute;
                    top: 50%;
                    margin-top: -1px;
                    left: 50%;
                    margin-left: -8px;
                    width: 16px;
                    height: 2px;
                    background-color: #ffffff;
                    content: "";
                    transform: translateY(-5px);
                    -webkit-transform: translateY(-5px);
                    -moz-transform: translateY(-5px);
                    -ms-transform: translateY(-5px);
                    -o-transform: translateY(-5px);
                }
                &::after {
                    position: absolute;
                    top: 50%;
                    margin-top: -1px;
                    left: 50%;
                    margin-left: -8px;
                    width: 16px;
                    height: 2px;
                    background-color: #ffffff;
                    content: "";
                    transform: translateY(5px);
                    -webkit-transform: translateY(5px);
                    -moz-transform: translateY(5px);
                    -ms-transform: translateY(5px);
                    -o-transform: translateY(5px);
                }
            }
        }
    }
    .NavMenu {
        span.open {
            &::before {
                width: 10px;
                transform: rotate(35deg);
                transform-origin: left bottom;
                -webkit-transform: rotate(35deg);
                -moz-transform: rotate(35deg);
                -ms-transform: rotate(35deg);
                -o-transform: rotate(35deg);
            }
            &::after {
                width: 10px;
                transform: rotate(-35deg);
                transform-origin: left top;
                -webkit-transform: rotate(-35deg);
                -moz-transform: rotate(-35deg);
                -ms-transform: rotate(-35deg);
                -o-transform: rotate(-35deg);
            }
        }
    }
    .NavMenu.active {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        .menuBtn {
            padding: 0;
            top: 20px;
            left: 2px;
        }
    }
    .NavMenu.inactive {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
    }
    #personal {
        margin-top: 20px;
    }
}

/*IPHONE 5/SE*/

@media only screen and (min-width: 320px) and (max-height: 568px) and (-webkit-device-pixel-ratio: 2) {
    .Products {
        height: 1300px;
        .Game.one {
            height: 470px;
        }
        .Game.two {
            height: 550px;
        }
        .Game.three {
            height: 200px;
        }
    }
    .ContactUS {
        height: 900px;
    }
    .ProductsImage {
        img {
            width: 100px;
            height: auto;
        }
    }
    .ListOfAmazingFeatures{
        p{
        font-size: 13px;
        }
    }
}

/*IPHONE 6, 7 ,8*/

@media only screen and (min-width: 375px) and (max-height: 667px) and (-webkit-device-pixel-ratio: 2) {
    .Products {
        height: 1150px;
        .Game.one {
            height: 400px;
        }
        .Game.two {
            height: 480px;
        }
        .Game.three {
            height: 200px;
        }
    }
    .ContactUS {
        height: 800px;
    }
    .ListOfAmazingFeatures {
        height: 580px;
    }
    #personal {
        margin-top: 20px;
    }
}

/*IPHONE 6, 7 ,8 plus*/

@media only screen and (min-width: 414px) and (max-height: 736px) and (-webkit-device-pixel-ratio: 2) {
    .OurTeam{
        height: 400px;
    }
}

@media only screen and (min-width: 375px) and (max-height: 812px) and (-webkit-device-pixel-ratio: 2) {
    .Products {
        height: 1150px;
        .Game.one {
            height: 400px;
        }
        .Game.two {
            height: 480px;
        }
        .Game.three {
            height: 200px;
        }
    }
}
