@import "../styles/mixins.scss";

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    background-color: #ffffff;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

/*HEADER*/

.navigation {
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    position: absolute;
    z-index: 1000;
}

.nav-logo {
    position: absolute;
    img {
        width: 70px;
        height: auto;
    }
}

.nav-menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    width: 100%;
    margin: 0;
    nav {
        padding-top: 20px;
        display: flex;
        a{
            font-size: 20px;
        }
    }
}

.nav-link {
    color: #ffffff;
    display: inline-block;
    vertical-align: top;
    margin: 0 12px;
    position: relative;
    transition: color 0.2s linear;
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -ms-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;

    &::after {
        content: "";
        width: 100%;
        height: 3px;
        top: 100%;
        display: block;
        opacity: 0;
        background-color: #ffffff;
        transition: opacity 0.1s linear;
        -webkit-transition: opacity 0.1s linear;
        -moz-transition: opacity 0.1s linear;
        -ms-transition: opacity 0.1s linear;
        -o-transition: opacity 0.1s linear;
    }
    &:hover::after {
        opacity: 1;
    }
}

.back-to-top{
    width: 2.5rem;
    height: 2.5rem;
    position: fixed;
    outline: none;
    right: 5px;
    bottom: 30px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    background-color: #311B92;
    img{
       width: 20px;
       height: 20px;
    }
}

/*TITLE AND INTRO*/

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    background: linear-gradient(117.7deg, #6200ea 10.89%, rgba(255, 255, 255, 0) 59.28%), #4527a0;
    border-radius: 0px 0px 30px 30px;
    -webkit-border-radius: 0px 0px 30px 30px;
    -moz-border-radius: 0px 0px 30px 30px;
    -ms-border-radius: 0px 0px 30px 30px;
    -o-border-radius: 0px 0px 30px 30px;
}

.Title {
    color: #ffffff;
    h5 {
        margin: 0;
        font-size: 25px;
        text-align: center;
    }
}

/*INTRO BUTTON */

.BtnDownload {
    margin: 40px 0 0 0;
    text-align: center;
}
.Download {
    width: 150px;
    background: none;
    height: 50px;
    border: 2px solid #ffffff;
    @include border;
    a {
        font-size: 20px;
        color: #ffffff;
    }
}

/*LIST OF AMAZING FEATURES */

.ListOfAmazingFeatures {
    height: 650px;
}

.ListHeading {
    @include heading();
}
.ListColumn {
    @include column();
    padding: 15px;
    img {
        width: 150px;
        height: 150px;
    }
    h5 {
        margin: 0;
        font-size: 20px;
    }
    p {
        margin: 1px;
    }
}

/*OUR TEAM*/

.our-team {
    height: 450px;
    background: linear-gradient(117.7deg, #6200ea 10.89%, rgba(255, 255, 255, 0) 59.28%), #4527a0;
}

.our-team-heading {
    @include heading();
    color: #ffffff;
}

.our-team-info{
    text-align: center;
}

.our-team-column {
    @include column;
    padding: 15px;
    color: #ffffff;
    height: 350px;

    img {
        width: 170px;
        height: 170px;
    }
    h5 {
        margin: 0;
        font-size: 20px;
    }
    p {
        margin: 1px;
    }
}

.our-team-contact {
    img {
        padding: 5px;
        width: 50px;
        height: 50px;
    }
}

/*PRODUCTS*/

.Products {
    height: 1100px;
}

.ProductsHeading {
    @include heading();
}

.ProductsColumn {
    float: left;
    width: 50%;
    text-align: center;
}

.Game {
    margin: 0;
    padding: 0;
    height: 330px;
@include border;
}

.ProductsImage {
    img {
        width: 200px;
        height: 200px;
        border: none;
        margin-top: 18px;
        @include border;
    }
}
.ProductsInfo {
    text-align: left;
    p {
        font-size: 17px;

        span {
            font-weight: bold;
        }
    }
    button {
        background: linear-gradient(to left, #fc0102 -35.9%, #4a32a7 122.17%);
        width: 130px;
        height: 40px;
        border: none;
        @include border;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        background-size: 200%;

        &:hover {
            background-position: right;
        }
        a {
            color: #ffffff;
            font-size: 17px;
            font-weight: 400;
        }
    }
}

/*CONTACT US*/

.form-contact-us {
    height: 800px;
    background: linear-gradient(117.7deg, #6200ea 10.89%, rgba(255, 255, 255, 0) 59.28%), #4527a0;
}

.form-contact-us-heading {
    @include heading();
    color: #ffffff;
}

.form-contact-us-name,
.form-contact-us-email,
.form-contact-us-message,
select
 {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 10px;
    border: 2px solid #4527a0;
    outline: 0;
    outline-offset: 0;
    @include border;
}

.btnSubmit {
    background-color: #4caf50;
    color: white;
    padding: 12px 30px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    &:hover {
        background-color: #45a049;
    }
}

.column-contact-us {
    margin: 20px;
    background-color: #ffffff;
    @include border;
    padding: 30px;
}

.personalData {
    display: flex;
    justify-content: center;
    p {
        margin-left: 20px;
    }
}
#personal {
    margin-top: 5px;
}

.form-contact-us-error{
    font-size: 12px;
    color: #ff9e22;
    text-align: left;
}

/*USEFUL LINK*/

.UsefulLink {
    height: 300px;
}

.UsefulLinkHeading {
    @include heading();
}

.UsefulLinkImage {
    text-align: center;
    float: left;
    width: 50%;
    img {
        width: 100px;
        height: 100px;
        &:hover {
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
            transition: 0.8s;
            -webkit-transition: 0.8s;
            -moz-transition: 0.8s;
            -ms-transition: 0.8s;
            -o-transition: 0.8s;
        }
    }
}

/*FOOTER*/

.FooterInfo {
    display: flex;
    justify-content: center;
    background-color: #000000;
    height: 190px;
}

.FooterDescription {
    text-align: center;
    h5 {
        color: #ffffff;
        font-size: 1rem;
    }
    a {
        color: #4527a0;
        margin-left: 20px;
        margin-right: 20px;
    }
}

/*MOBILE VERSION*/

@media screen and (max-width: 790px) {
    /*MENU BUTTON*/
    .back-to-top{
    display: none;
    }
    .nav-menu {
        display: flex;
        position: fixed;
        justify-content: center;
        flex-flow: column;
        right: 0;
        top: 0;
        padding: 0;
        width: 50%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.9);
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);

        nav {
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            a {
                font-size: 20px;
                padding: 20px;
            }
    
        }
    
        .menu-btn {
            display: block;
            width: 40px;
            height: 40px;
            background: linear-gradient(180deg, #fc0102 0%, #ffc400 100%);
            position: absolute;
            padding: 0;
            top: 20px;
            left: -55px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            transition: 0.2s;
            -webkit-transition: 0.2s;
            -moz-transition: 0.2s;
            -ms-transition: 0.2s;
            -o-transition: 0.2s;
            span {
                position: absolute;
                top: 50%;
                margin-top: -1px;
                left: 50%;
                margin-left: -8px;
                width: 16px;
                height: 2px;
                background-color: #ffffff;
                &::before {
                    position: absolute;
                    top: 50%;
                    margin-top: -1px;
                    left: 50%;
                    margin-left: -8px;
                    width: 16px;
                    height: 2px;
                    background-color: #ffffff;
                    content: "";
                    transform: translateY(-5px);
                    -webkit-transform: translateY(-5px);
                    -moz-transform: translateY(-5px);
                    -ms-transform: translateY(-5px);
                    -o-transform: translateY(-5px);
                }
                &::after {
                    position: absolute;
                    top: 50%;
                    margin-top: -1px;
                    left: 50%;
                    margin-left: -8px;
                    width: 16px;
                    height: 2px;
                    background-color: #ffffff;
                    content: "";
                    transform: translateY(5px);
                    -webkit-transform: translateY(5px);
                    -moz-transform: translateY(5px);
                    -ms-transform: translateY(5px);
                    -o-transform: translateY(5px);
                }
            }
        }
    }
    .nav-menu {
        span.open {
            &::before {
                width: 10px;
                transform: rotate(35deg);
                transform-origin: left bottom;
                -webkit-transform: rotate(35deg);
                -moz-transform: rotate(35deg);
                -ms-transform: rotate(35deg);
                -o-transform: rotate(35deg);
            }
            &::after {
                width: 10px;
                transform: rotate(-35deg);
                transform-origin: left top;
                -webkit-transform: rotate(-35deg);
                -moz-transform: rotate(-35deg);
                -ms-transform: rotate(-35deg);
                -o-transform: rotate(-35deg);
            }
        }
    }
    .nav-menu.active {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        .menu-btn {
            padding: 0;
            top: 20px;
            left: 2px;
        }
    }
    .nav-menu {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
    }
    #personal {
        margin-top: 20px;
    }
}

@media screen and (min-width: 310px) and (max-width: 450px) {
    .ListOfAmazingFeatures {
        height: 800px;
    }

    .ListHeading {
        font-size: 18px;
    }
    .ListColumn {
        img {
            width: 90px;
            height: 90px;
        }
        h5 {
            font-size: 15px;
        }
    }

    .our-team-heading {
        font-size: 18px;
    }
    .our-team-column {
        img {
            width: 120px;
            height: 120px;
        }
        h5 {
            font-size: 15px;
        }
    }
    .our-team-contact {
        img {
            padding: 5px;
            width: 50px;
            height: 50px;
        }
    }

    .Products {
        height: 1250px;
    }

    .ProductsHeading {
        font-size: 18px;
    }
    .Game.one {
        height: 460px;
    }
    .Game.two {
        height: 540px;
    }
    .Game.three {
        height: 200px;
    }

    .ProductsImage {
        img {
            width: 100px;
            height: 100px;
        }
    }
    .ProductsInfo {
        p {
            font-size: 15px;
        }
    }

    .form-contact-us {
        height: 950px;
    }
    .form-contact-us-heading {
        font-size: 18px;
    }
}

@media screen and (min-width: 375px) and (max-width: 667px) {
    .ListOfAmazingFeatures {
        height: 750px;
    }

    .our-team-heading {
        font-size: 18px;
    }
    .our-team-column {
        img {
            width: 120px;
            height: 120px;
        }
    }
    .our-team-contact {
        img {
            padding: 5px;
            width: 50px;
            height: 50px;
        }
    }
    .Products {
        height: 1150px;
    }
    .Game.one {
        height: 390px;
    }
    .Game.two {
        height: 470px;
    }
    .Game.three {
        height: 180px;
    }

    .ProductsImage {
        img {
            width: 100px;
            height: 100px;
        }
    }

    .form-contact-us {
        height: 850px;
    }
}

@media screen and (min-width: 414px) and (max-width: 736px) {
    .ListOfAmazingFeatures {
        height: 750px;
    }
    .ListColumn {
        img {
            width: 100px;
            height: 100px;
        }
    }

    .Products {
        height: 1100px;
    }

    .Game.one {
        height: 390px;
    }
    .Game.two {
        height: 430px;
    }
    .Game.three {
        height: 180px;
    }

    .ProductsImage {
        img {
            width: 120px;
            height: 120px;
        }
    }
    .form-contact-us {
        height: 850px;
    }
}
