@import "../styles/mixins.scss";

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    background-color: white;
}

* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}
section {
    width: 100%;
    height: 100%;
}

/*HEADER*/
.Nav {
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.NavMenu {
    display: flex;
    justify-content: right;
}
.NavMenuLink {
    display: flex;
    li {
        list-style: none;
        a {
            font-size: 20px;
            text-decoration: none;
        }
    }
}
.NavLink {
    color: #ffffff;
    display: inline-block;
    vertical-align: top;
    margin: 0 12px;
    position: relative;
    transition: color 0.2s linear;
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -ms-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;

    &::after {
        content: "";
        width: 100%;
        height: 3px;
        top: 100%;
        display: block;
        opacity: 0;
        background-color: #ffffff;
        transition: opacity 0.1s linear;
        -webkit-transition: opacity 0.1s linear;
        -moz-transition: opacity 0.1s linear;
        -ms-transition: opacity 0.1s linear;
        -o-transition: opacity 0.1s linear;
    }
    &:hover::after {
        opacity: 1;
    }
}

/*TITLE AND INTRO*/

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    background: linear-gradient(117.7deg, #6200ea 10.89%, rgba(255, 255, 255, 0) 59.28%), #4527a0;
    border-radius: 0px 0px 30px 30px;
    -webkit-border-radius: 0px 0px 30px 30px;
    -moz-border-radius: 0px 0px 30px 30px;
    -ms-border-radius: 0px 0px 30px 30px;
    -o-border-radius: 0px 0px 30px 30px;
}

.Title {
    color: #ffffff;
    h5 {
        margin: 0;
        font-size: 25px;
        text-align: center;
    }
}

/*INTRO BUTTON */

.BtnDownload {
    margin: 40px 0 0 0;
    text-align: center;
}
.Download {
    width: 150px;
    background: none;
    height: 50px;
    border: 2px solid #ffffff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    a {
        font-size: 20px;
        color: #ffffff;
        text-decoration: none;
    }
}

/*LIST OF AMAZING FEATURES */

.ListOfAmazingFeatures {
    height: 650px;
}

.ListHeading {
    @include heading();
}
.ListColumn {
    @include column();
    padding: 15px;
    img {
        width: 150px;
        height: 150px;
    }
    h5 {
        margin: 0;
        font-size: 20px;
    }
    p {
        margin: 1px;
    }
}

/*OUR TEAM*/

.OurTeam {
    height: 400px;
}

.OurTeamHeading {
    @include heading();
}

.OurTeamColumn {
    @include column();
    padding: 15px;
    img {
        width: 170px;
        height: 170px;
    }
    h5 {
        margin: 0;
        font-size: 20px;
    }
    p {
        margin: 1px;
    }
}

.OurTeamContact {
    img {
        padding: 5px;
        width: 50px;
        height: 50px;
    }
}

/*PRODUCTS*/

.Products {
    width: auto;
    height: 1100px;
}

.ProductsHeading {
    @include heading();
}

.ProductsColumn {
    float: left;
    width: 50%;
    text-align: center;
}

.Game {
    margin: 0;
    padding: 0;
    height: 330px;
}

.ProductsImage {
    img {
        width: 200px;
        height: 200px;
        border: none;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
}
.ProductsInfo {
    text-align: left;
    p {
        font-size: 17px;

        span {
            font-weight: bold;
        }
    }
    button {
        background: linear-gradient(to left, #fc0102 -35.9%, #4a32a7 122.17%);
        width: 130px;
        height: 40px;
        border: none;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        background-size: 200%;

        &:hover {
            background-position: right;
        }
        a {
            text-decoration: none;
            color: #ffffff;
            font-size: 17px;
            font-weight: 400;
        }
    }
}

/*CONTACT US*/

.ContactUS{
    height: 800px;
}

.ContactUSHeading{
    @include heading();
}

#FullNameContactUs,
#EmailContactUs,
select,
textarea {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    outline: 0;
    outline-offset: 0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#BtnSubmitContactUS {
    background-color: #4caf50;
    color: white;
    padding: 12px 30px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    &:hover {
        background-color: #45a049;
    }
}

.ContactUSColumn {
    background-color: #e8e8e8;
    padding: 10px;
    border-radius: 30px;
    margin: 10px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
    // float: left;
    // width: 50%;
    // margin-top: 6px;
    // padding: 20px;
}

.row {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

.personalData {
    display: flex;
    justify-content: center;
    p {
        margin-left: 20px;
    }
}
#personal{
    margin-top: 5px ;
}

/*FOOTER*/

.FooterInfo {
    left: 0px;
    background-color: #311b92;
    height: 300px;
    border-radius: 30px 30px 0 0;
    -webkit-border-radius: 30px 30px 0 0;
    -moz-border-radius: 30px 30px 0 0;
    -ms-border-radius: 30px 30px 0 0;
    -o-border-radius: 30px 30px 0 0;
}
.FooterSocial {
    img {
        width: 60px;
        height: 60px;
    }
}

/*MEDIA QUERY*/
@media screen and (max-width: 790px) {
    .NavMenuLink {
        display: none;
    }
    .ListColumn {
        img {
            width: 100px;
            height: 100px;
        }
        h5 {
            margin: 0;
            font-size: 15px;
        }
        p {
            font-size: 13px;
            margin: 1px;
        }
    }
    .OurTeamColumn {
        img {
            width: 120px;
            height: 120px;
        }
        h5 {
            margin: 0;
            font-size: 15px;
        }
        p {
            font-size: 13px;
            margin: 1px;
        }
    }
    .OurTeamContact {
        img {
            padding: 5px;
            width: 40px;
            height: 40px;
        }
    }
    .Game {
        margin: 0;
        padding: 0;
        height: 400px;
    }

    .ProductsImage {
        img {
            width: 140px;
            height: 140px;
        }
    }
    .ProductsInfo {
        text-align: left;
        p {
            font-size: 15px;

            span {
                font-weight: bold;
            }
        }
        button {
            width: 100px;
            height: 30px;
            a {
                font-size: 14px;
            }
        }
    }
}
